
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

*{
    margin: 0;
    padding: 0;

}
.head{
    display: flex;
    background-color: rgb(31, 29, 29);
    position: sticky;
}
.head1 ul{
    display: flex;
    margin-left: 27rem;
 
    
}
.head1 ul li{
    list-style: none;
    margin-top: 3rem;
    margin-left: 3rem;
}
.head1 ul li a{
  
    font-family: Inter,sans-serif;
 
    color: rgb(198, 202, 202);
      font-size:18px;
      text-decoration: none;

}


.head1 ul li a:hover {
cursor: pointer;
color: rgb(228, 199, 123);
}

.background{
    background-image: url("background.jpeg");
    height: 100vh;
background-repeat: no-repeat;
width: 100vw;
background-size: cover;
}

.logo img{
    width: 143px;
    height: 104px;
    margin-left: 31px;
    margin-top: 13px;
    cursor: pointer;
}
.background h2{
color: rgb(255, 145, 0);
font-family: Inter,sans-serif;
margin-left: 40rem;
line-height: 16rem;
font-size: 40px;
/* box-shadow: 10px 5px 5px black; */
}
/* ==================About us=================== */
.aboutus{
    background-color: rgb(176, 172, 165);
}
.aboutus1{
display: flex;
}
.image1 img{
    width: 36vw;
    height: 59vh;
    margin: 7rem;
    border-radius: 77px 10px 63px 10px;
   box-shadow: 20px 5px 5px rgb(143, 135, 135);
}
.aboutus2 {
    
    width: 50%;
    height: 100%;
  
    margin-left: 2rem;
    margin-right: 19rem;
    margin-top: 15rem;}
    .aboutus2 p{
      font-family: 'Poppins', sans-serif;
      font-weight: bolder;
      color: black;
       
      
    }


